<?php /* * Ves Magento Theme Framework for Prestashop 1.6.x * * @package vesblockbuilder * @version 5.0 * @author http://www.venustheme.com * @copyright Copyright (C) October 2013 venustheme.com <@emai:venustheme@gmail.com> * <info@venustheme.com>.All rights reserved. * @license GNU General Public License version 2 */ if (isset($links) && $links): $id = rand().time(); ?> <div class="ves-widget panel-group widget-links block <?php echo $addition_cls; ?> <?php if(isset($stylecls)&&$stylecls){ echo 'block-'.$stylecls; } ?>" id="accordion-links-<?php echo $id ?>"><div class="panel panel-default"><?php if (isset($widget_heading)&&!empty($widget_heading)): ?> <div class="panel-heading block-title"><strong><span> <?php echo $widget_heading; ?> <a data-toggle="collapse" data-parent="#accordion-links-<?php echo $id ?>" href="#collapseLinks<?php echo $id ?>" class="panel-title hidden-lg hidden-md"><i class="fa fa-angle-down"></i></a></span></strong></div><?php endif; ?> <div id="collapseLinks<?php echo $id ?>" class="block-content panel-collapse collapse"><div class="panel-body"><ul class="nav-links <?php echo isset($ul_cls)?$ul_cls:''; ?>" id="myAccordionTab<?php echo $id; ?>"><?php foreach($links as $key=>$ac): ?> <li> <?php if(isset($ac['link_icon']) && $ac['link_icon']): ?> <i class="<?php echo $ac['link_icon']; ?>">&nbsp;</i> <?php endif; ?> <a href="<?php echo $ac['link']; ?>"><?php echo $ac['text']; ?></a></li> <?php endforeach; ?></ul></div></div></div></div><script type="text/javascript">
require(['jquery'],function($){
    $(document).ready(function(){
    require([
        'jquery'
        <?php if($this->helper("Ves\All\Helper\Data")->getConfig("enable_bootstrap_js")): ?>
        ,"Ves_All/lib/bootstrap/js/bootstrap.min"
        <?php endif; ?> ],function($){
            
        });
    });
});</script><?php endif; ?>