<!-- 
/**
 * @category   Webkul
 * @package    Webkul_MpSellerBadge
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */  -->
<?php 
$partner=array();
$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$partner=$helper->getSeller();
$isPartner= $helper->isSeller();
if($isPartner==1){
  $sellerbadges = $block->getLoginSellerBadges();

  ksort($sellerbadges);
?>
<div class="wk-mp-page-title page-title">
	<h2><?php /* @escapeNotVerified */ echo __('Seller Badge(s)') ?></h1>
</div>
	<div class="wk-mp-design">
		<fieldset class="fieldset info wk-mp-fieldset">
			<legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Your badge(s)') ?></span></legend>
				<div class="field">
					<?php if(count($sellerbadges) > 0){ ?>
					<?php foreach($sellerbadges as $val ){ ?>
					<div style="margin:10px;display:inline-block">
						<img src="<?php /* @escapeNotVerified */ echo $val ;?>" width="100" height="100">	
					</div>
					<?php 		} 
							}else{ ?>
							<div class="wk_profile_alert">
							<strong><?php /* @escapeNotVerified */ echo __('You have no badges assigned yet ...'); ?></strong>
							<span class="wk_close">X</span>
							</div>
							
							<?php }


						?>
				</div>
		</fieldset>
	</div>
<?php } ?>