<!-- /** * @category Webkul * @package Webkul_MpSellerBadge * @author Webkul Software Private Limited * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com) * @license https://store.webkul.com/license.html */ --><?php $sellerbadges = $this->getSellerBadges(); ksort($sellerbadges); if(count($sellerbadges) > 0){ ?> <div class="wk_mp_design wk_mp_badge_design"><div class="block block-account block-badge"><div class="store-name storename"><?php /* @escapeNotVerified */ echo __("Seller Badges") ?></div><div class="fieldset wk_mp_fieldset"><div id="wkslidecont" class="nodisplay"><div class="wkslide"><?php foreach($sellerbadges as $val ){ ?> <div class="wkbadges" data-src = "<?php /* @escapeNotVerified */ echo $val; ?>"><img src="<?php /* @escapeNotVerified */ echo $val ;?>" width="100" height="88"></div><?php } ?></div></div><span class="wknextbadge"></span> <span class="wkprevbadge"></span></div></div></div><?php } ?> <script type="text/x-magento-init">
{
	"*":{
		"sellerBadgePlugin":{}
	}
}</script>